<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/tables.css">
    <!-- <link rel="stylesheet" href="/styles/stock.css"> -->
    <title></title>
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav_container">
        <li>
          <a href="/customers">Customers</a>
        </li>
        <li>
          <a href="/rentals">Rentals</a>
        </li>
        <li>
          <a href="/stock">Available Stock</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
