<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/images.css">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/customers">Customers</a>
        </li>
        <li>
          <a href="/rentals">Rentals</a>
        </li>
        <li>
          <a href="/stock">Available Stock</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
