<h1>Add New Stock</h1>



<form action="/stock" method="POST">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name">

  <label for="image">Image:</label>
  <input type="text" id="image" name="image">

  <label for="manufacturer">Manufacturer:</label>
  <input type="text" id="manufacturer" name="manufacturer">

  <label for="type">Type:

  <select id="type" name="type">
    <option value="type" selected disabled>Select a type</option>
    <% @stock.each do |item| %>
    <option value="<%= item%>"><%= item %></option>
    <% end %>
  </select>
  </label>



  <label for="category">Category CC:</label>
  <input type="number" id="category" name="category_cc">

  <label for="max_speed">Max Speed:</label>
  <input type="number" id="max_speed" name="max_speed_mph">

  <label for="cost">Cost per Week:</label>
  <input type="number" id="cost" name="cost_per_week">

  <select  name="rented">
    <option value="rented" selected disabled>0 if available</option>
    <% @rented.each do |item| %>
    <option value="<%=item%>"><%=item%></option>
    <% end %>
  </select>

  <hr />

  <input type="submit" value="Add Stock Item">


</form>
