.stock_list {
  margin-right: 20px;
  border-collapse: collapse;
}

.stock_list td, .stock_list th {
  border: 1px solid  white;
  padding: 8px;
  /* margin-top: 20px; */
}

/* .stock_data {
  margin-top: 20px;
} */
/*  */
