<h1>Edit Customer</h1>

<form action="/customers/<%=@customer.id%>/edit" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="<%=@customer.name%>">

  <input type="submit" name="save" value="save">
</form>
<!-- this form is performing the POST method (in customer controller) on customers/:id/edit -->
